body {
  font-family: 'Noto Sans KR', sans-serif;
}


.navbar-nav.col-2 {
    justify-content : flex-end;
    padding-right: 0px;
}


.carousel-caption {
  box-sizing: border-box;
    vertical-align: middle;
    line-height: 00px;
    height: 400px;
    padding: 0px;
    top: 0px;
}

.carousel_info{
    display:inline-block;
    line-height: normal;
    vertical-align: middle;
}
h1 {
    font-size: 32px;
    color: white;
    margin: 0;
}
h2 {
    font-size: 22px;
    color: white;
    margin-top: 18px;
    margin-bottom: 48px;
}

.carousel-item {
    height: 400px;
    line-height: 400px;
}
.search_class {
    display: inline-block;
     background-color: #5900E7;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    border-radius: 2px;
    
}
#guitar {
    background-image: url("../images/guitar.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    line-height: 400px;
    
}

#makeup {
    background-image: url("../images/makeup.jpg");
    background-position: center top;
    background-size: cover;
    height: 400px;    
}

#cooking {
    background-image: url("../images/cooking.jpg");
    background-position: center center;
    background-size: cover;
    height: 400px;    
}


.alert.alert-warning.alert-dismissible.fade.show {
    margin-top: 50px;
    margin-bottom: 16px;
}



.col-12.col-md-6.col-lg-4.col-xl-3 {
    padding: 0;
}

.div1 p {
    font-size: 18px;
    color: #4A4A4A;
}

.div1 span {
    font-size: 13px;
    color: #4A4A4A;
}

#user {
    padding : 10px;
}
#info_box {
    vertical-align: middle;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
#info_box a{
    text-decoration: none;
    color: #4A4A4A;
}

#user img {
    height: 20px;
    width: 20px;
}
#user p {
    margin-bottom: 10px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.django-ckeditor-widget {
    width: 100%;
}

.post_edit {
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu_header {
    font-size: 32px;
}
 


.pagination {
    display: inline-block;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.container {
    margin-top: 50px;
}

@media only screen and (max-width: 800px) {
    table td:nth-child(1), 
    table th:nth-child(1) {display: none;}
}
 
@media only screen and (max-width: 640px) {
    #unseen .table .table-hover td:nth-child(4),
    #unseen .table .table-hover table th:nth-child(4),
    #unseen .table .table-hover table td:nth-child(7),
    #unseen .table .table-hover table th:nth-child(7),
    #unseen .table .table-hover table td:nth-child(8),
    #unseen .table .table-hover table th:nth-child(8){display: none;}
}

.comment .row {
    background-color: #f8f9fa;
}

.comment-date {
    text-align: right;
}

.board_name {
    background-color: #f8f9fa;
}

.board_content {
    padding-bottom: 100px;
    border-bottom: 1px solid gray;
}

.board_content .title {
    margin-bottom: 10px;
}

.row {
    margin: 0px;
}